src/main/mule/web-secure.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:crypto="http://www.mulesoft.org/schema/mule/crypto" xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/crypto http://www.mulesoft.org/schema/mule/crypto/current/mule-crypto.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="36238563-55ca-46e0-a975-61471475b1ec" >
		<http:listener-connection host="0.0.0.0" port="8082" protocol="HTTPS">
			<tls:context >
				<tls:trust-store path="ca.jks" password="fabricio" type="jks"/>
				<tls:key-store type="jks" path="server.jks" alias="server" keyPassword="fabricio" password="fabricio"/>
			</tls:context>
		</http:listener-connection>
	</http:listener-config>
	<http:listener-config name="http_8081" doc:name="HTTP Listener config" doc:id="a42ea6c5-51b4-44b3-8f87-2cc99579cf2d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="26b45a82-d364-463d-8caf-69c2ebb7da03" >
		<http:request-connection protocol="HTTPS" host="localhost" port="8082" >
			<tls:context >
				<tls:trust-store path="ca.jks" password="fabricio" type="jks"/>
				<tls:key-store type="jks" path="client.jks" alias="client" keyPassword="fabricio" password="fabricio" />
			</tls:context>
		
		</http:request-connection>
	</http:request-config>
	<crypto:jce-config name="Crypto_Jce" doc:name="Crypto Jce" doc:id="f89cc483-cc59-4c36-95de-45ebfa785aed" keystore="keys.pfx" password="fabricio" type="PKCS12">
		<crypto:jce-key-infos >
			<crypto:jce-asymmetric-key-info keyId="rsa" alias="rsa" password="fabricio" />
			<crypto:jce-symmetric-key-info keyId="aes" alias="aes" password="fabricio" />
		</crypto:jce-key-infos>
	</crypto:jce-config>
	<flow name="start-flow" doc:id="87183de7-a0a7-4ebd-87de-f542858b227b" >
		<http:listener doc:name="Listener" doc:id="32da823a-0c1e-4021-8a05-2b9739000297" config-ref="http_8081" path="/start"/>
		<ee:transform doc:name="Transform Message" doc:id="0bf0ad45-f46c-4592-920f-577662dfaf24" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="GET" doc:name="Request" doc:id="b2fe636a-a2eb-4532-89db-a00f9e6d96e6" config-ref="HTTP_Request_configuration" path="/receive"/>
	</flow>
	<flow name="enc-flow" doc:id="cbf6f208-5975-4cff-9641-b42c6e2032d3" >
		<http:listener doc:name="Listener" doc:id="d315ae90-1ff4-4131-a96a-1d79e13a2b4a" config-ref="HTTP_Listener_config" path="/receive"/>
		<logger level="INFO" doc:name="Logger" doc:id="cfe9b3e3-dc9c-40ae-ba04-02948ab0f28b" message="#[output application/json --- attributes.clientCertificate]"/>
		<ee:transform doc:name="Transform Message" doc:id="cb856137-daad-4de3-a649-7efd696bf73c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
dw::core::Binaries::toBase64(payload)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="enc2-flow" doc:id="1f5a9603-bdc1-4ce5-b49b-a575358c09b6" >
		<http:listener doc:name="Listener" doc:id="aa6e6163-9804-41f6-8a9d-85735ba1aae7" config-ref="http_8081" path="/enc"/>
		<crypto:jce-encrypt doc:name="Jce encrypt" doc:id="ee3dbf3e-f6a2-437a-99bc-97c4cfe9c112" config-ref="Crypto_Jce" algorithm="RSA" keyId="rsa"/>
		<ee:transform doc:name="Transform Message" doc:id="fc38f675-3671-401d-98e8-64f892598eb6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
dw::core::Binaries::toBase64(payload)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="dec-flow" doc:id="363a1ca1-01a1-42a8-a7b7-a28795b7c1b4" >
		<http:listener doc:name="Listener" doc:id="65c2dd41-757a-4957-b55f-8f509e71244a" config-ref="http_8081" path="/dec"/>
		<ee:transform doc:name="Transform Message" doc:id="ec45a3c2-dfc2-4995-9a7d-b2f8946cc74a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
dw::core::Binaries::fromBase64(payload)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<crypto:jce-decrypt doc:name="Jce decrypt" doc:id="9cac7b8e-0389-43cf-959f-0f63e00b7611" config-ref="Crypto_Jce" algorithm="RSA" keyId="rsa"/>
	</flow>
	<flow name="web-secureFlow1" doc:id="9dcd70b2-6e9e-4bbf-8ecf-8c3a046f959a" >
		<http:listener doc:name="Listener" doc:id="f023d259-c556-46ab-b38e-14105472ee48" config-ref="http_8081" path="/enc2"/>
		<crypto:jce-encrypt-pbe doc:name="Jce encrypt pbe" doc:id="bb709f3d-e0e0-49f5-9333-65e599aeb150" password="123"/>
		<ee:transform doc:name="Transform Message" doc:id="deaf288a-c19c-41ed-afe1-2508c1e29842" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
import * from dw::core::Binaries
---
toBase64(payload)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="web-secureFlow" doc:id="ef9913f5-6dec-4e1d-9467-e0f4f5bcc865" >
		<http:listener doc:name="Listener" doc:id="cae5c1f2-c5ae-4de7-9358-642591847cb1" config-ref="http_8081" path="/dec2"/>
		<ee:transform doc:name="Transform Message" doc:id="faecee59-f055-4d50-90cb-4e4eb81c6909" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
dw::core::Binaries::fromBase64(payload)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<crypto:jce-decrypt-pbe doc:name="Jce decrypt pbe" doc:id="aaa26ffd-1d22-4fb0-9b6a-3efe42cfa62a" password="123"/>
	</flow>
</mule>
